.margins {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
label{
    color: blue;
    font-weight: bold;
    font-size: 30px;
}
h2{
    text-decoration:underline;
    
}
input[type='submit']{
    width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.card-body{
    background-color: pink;
}
body{
    width: 500px;
    margin: auto;
    /* line-height: 20px; */
}
.margin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card > .card-body.color {
    background-color: orchid;
}
.display{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}